div.full-image {
    border-radius: 0 0 6px 6px;
    margin: 0 auto calc(24px + (96px - 12px) / 2);
}

div.page-21 {
    margin: auto;
    width: 720px;
}

div.page-22 > div.downloads-list {
    width: calc(720px - 48px);
    margin: auto;
    padding: 12px;
}

div.page-22 > div.downloads-list > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.page-22 > div.downloads-list > ul > li {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    position: relative;
    bottom: -360px;
}