body {
    font-family: poppins;
    margin: 0;
}

header.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-flow: column;
    
}

h1 {
    margin: 0;
    font-size: 4em;
}

header.banner > h1 {
    color: white;
    text-align: center;
}

header.image-description {
    padding: 24px;
    width: calc(720px - 48px);
    height: calc(360px - 48px);
    margin: auto;
    display: flex;
}

header.image-description > img {
    width: calc(360px - 48px);
    height: calc(360px - 48px);
    padding-right: 12px;
}

header.image-description > div {
    padding-left: 12px;
    width: calc(360px - 48px);
    height: calc(360px - 48px);
}

header.image-description > div > h2 {
    padding-bottom: 12px;
}

p, h1, h2, h3 {
    margin: 0;
}

header.page-11 {
    background-color: #eeddee;
}