body {
    font-family: poppins;
    margin: 0;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    flex-flow: column;
    
}

h1 {
    margin: 0;
    font-size: 4em;
}

header > h1 {
    color: white;
    text-align: center;
}

div.image-description {
    padding: 24px;
    width: calc(720px - 48px);
    height: calc(360px - 48px);
    margin: auto;
    display: flex;
}

div.image-description > img {
    width: calc(360px - 48px);
    height: calc(360px - 48px);
    padding-right: 12px;
}

div.image-description > article {
    padding-left: 12px;
    width: calc(360px - 48px);
    height: calc(360px - 48px);
}

div.image-description > article > h2 {
    padding-bottom: 12px;
}

p, h1, h2, h3, h4 {
    margin: 0;
}

div.page-11 {
    background-color: #eeddee;
}

div.page-12 {
    background-color: #eeddee;
}

h4.banner {
    background-color: #221122;
    color: white;
    text-align: center;
    padding: 1em;
}

div.gallery {
    padding: 12px;
    width: calc(1280px - 24px);
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

div.gallery > article {
    padding: 12px;
    width: calc(360px - 24px);
    height: calc(550px - 24px);
    display: flex;
    flex-direction: column;
}

div.gallery > article > img {
    padding-bottom: 12px;
    width: calc(360px - 24px);
    height: calc(360px - 24px);
}

div.gallery > article > h2 {
    text-align: center;
    padding-bottom: 12px;
}

div.gallery > article > button {
    width: calc(360px - 24px);
    margin-top: auto;
    
}

div.gallery > article > cite {
    text-align: center;
}

button {
    display: inline-block;
    border-radius: 6px;
    background-color: #ff40ff;
    padding: 12px;
    border: none;
    font-family: poppins;
    color: white;
    transition: background-color 0.25s
}

button:hover {
    background-color: #ff4080;
}

a {
    color: #ff40ff;
    transition: color 0.25s;
}

a:hover {
    color: #ff4080;
}

footer {
    padding: 2em 0 2em 0;
    background-color: #221122;
    color: white;
    text-align: center;
}